.client-grid {
	margin-bottom: rem(60);
}


.client-grid img {
     filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
    -webkit-filter: grayscale(1); /* Webkit Nightlies & Google Chrome Canary */
    transition: all .3s; 
}

.client-grid img:hover {

     filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
    -webkit-filter: grayscale(0);
}

.marketing-partner {
	margin: 0 0 rem(80);
	
	@include media($mobile) {
    	margin: 0 0 rem(60);
    	
    	img {
		    margin: 0 auto rem(10);
	    }
	}
}

/* =Our Clients
----------------------------------------------- */
.clients a {
	display: inline-block;
	vertical-align: middle;
	padding: rem(20) 0;
	min-height: 150px;
}

.clients a img	{
	width: 90%;
}

/* Client Testimonials */
.testimonial {
	background: url('images/gold-quote.png') no-repeat top left;
	margin-bottom: rem(60);
	padding-top: rem(50);
}

.testimonial blockquote {
	margin: 0;
}

.testimonial blockquote p {
	color: #49868D;
	font-family: 'DINWeb-Light', sans-serif;
	font-size: rem(34);
	line-height: 1.2;
	margin-bottom: rem(20);
}

.testimonial h3 {
	border-bottom: 1px solid #DAD9D7;
	font-family: 'DINWeb-Light', sans-serif;
	font-size: rem(16);
    line-height: 1.2;
	padding-bottom: rem(15);
	text-transform: none;
	
}

.testimonial h3 a {
	font-family: 'DINWeb-Light', sans-serif;
}
